[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
aiohttp = "*"
peewee = "*"
peewee-async = "*"
marshmallow = "*"
marshmallow-peewee = "*"
aiopg = "*"
pyyaml = "*"
aiohttp-autoreload = "*"
peewee-migrate2 = "*"

[requires]
python_version = "3.7"
